<button class="btn btn-light mb-2" (click)="goBack()"><span class="ti ti-arrow-back me-2 text-primary"></span>Về trang trước</button>
<form (ngSubmit)="submitAdd()">
  <h1 id="tableLabel">Thêm lớp học</h1>
  <div class="d-flex">
    <p>Điền thông tin lớp học vào bên dưới</p>
    <div class="spacer"></div>
    <button class="btn btn-light" type="submit"><span class="ti ti-plus me-2 text-success"></span>Thêm lớp học</button>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group mb-2">
        <label for="tenLopHoc" class="form-label">Tên lớp học</label>
        <input id="tenLopHoc" name="tenLopHoc" class="form-control" [(ngModel)]="newLopHoc.tenLopHoc" placeholder="Nhập tên lớp..." />
      </div>
      <label>Danh sách sinh viên</label>

      <table class="table table-striped">
        <tr>
          <th>#</th>
          <th>Mã sinh viên</th>
          <th>Tên sinh viên</th>
          <th class="autosize-column"></th>
        </tr>
        <tr>
          <td>1</td>
          <td>s</td>
          <td>s</td>
          <td class="autosize-column"><button class="btn btn-light"><span class="ti ti-minus text-danger"></span></button></td>
        </tr>
      </table>
    </div>
  </div>
</form>
