.page-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: black;
}

.active {
  background-color: whitesmoke;
  border-right: 4px solid steelblue
}

.border-bottom{
    border-bottom: 1px dashed gray;
}

.mobile-top-bar{
    display: none !important;
}

.active .nav-link {
  color: steelblue;
}

.nav-link {
  color: black;
  padding-left: 0px;
  padding-right: 0px;
}

.nav-item {
  border-bottom: 1px dashed gray;
}

.ngs-code-editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  min-height: 0;
}

.div-list-sinh-vien {
  max-height: calc(100vh - 215px);
  height: calc(100vh - 215px);
  overflow-y: auto;
}

.div-exec-code {
  max-height: calc(100vh - 215px);
  height: calc(100vh - 215px);
  overflow-y: hidden;
  min-width: 400px;
  max-width: 400px;
  position: relative;
  border-left: 1px solid gray;
}


.div-content-scroll {
  max-height: calc(100vh - 280px);
  height: calc(100vh - 280px);
  overflow-y: auto
}
