<div class="d-flex">
  <a [routerLink]="['../../']" class="btn btn-light mb-2"><span class="ti ti-arrow-back me-2 text-primary"></span>Về trang trước</a>
  <div class="spacer"></div>
  <button class="btn btn-light" (click)="loadDataSinhVien()"><span class="ti ti-refresh me-2 text-success"></span>Tải lại dữ liệu</button>
</div>

<h3 id="tableLabel">Chấm điểm</h3>

<div class="d-flex">
  <p>{{lopHoc.tenLopHoc}}</p>
  <div class="spacer"></div>
</div>

<div class="d-flex">
  <ul class="nav d-flex flex-column border-right div-list-sinh-vien"
      style="width: 220px; min-width: 220px">
    <li *ngFor="let sinhVien of sinhViens" 
        class="nav-item hand {{slctedSinhVien.id == sinhVien.id? 'active' : ''}}"
        (click)="onSelectSinhVien(sinhVien.id)">
      <div class="nav-link d-flex flex-column">
        <div class="d-flex pe-2">
          <b>{{sinhVien.maSinhVien}}</b>
          <div class="spacer"></div>
          <b class="text-success">{{sinhVien.tongDiem}}đ</b>
        </div>
        <span>{{sinhVien.hoVaTen}}</span>
      </div>
    </li>
  </ul>
  
  <div class="d-flex flex-row spacer">
    <div class="spacer">
      <div class="border-bottom">
        <div class="px-4" *ngIf="slctedSinhVien.id > 0">
          <div class="d-flex">
            <h4>{{slctedSinhVien.hoVaTen}}</h4>
            <div class="spacer"></div>
            <h4 class="">{{slctedSinhVien.tongDiem}} điểm</h4>
          </div>

          <div class="d-flex">
            <p class="mb-2">{{slctedSinhVien.maSinhVien}}</p>
            <div class="spacer"></div>
            <button class="btn btn-light text-success"><span class="ti ti-check me-2 text-success"></span>Lưu điểm số</button>
          </div>
        </div>
      </div>

      <div class="h-100 d-flex flex-row align-items-center" *ngIf="slctedSinhVien.id == 0">
        <div class="w-100">
          <h4 class="text-center">Bài làm sinh viên</h4>
          <p class="mb-2 text-center">Chọn một sinh viên để xem bài làm</p>
        </div>
      </div>

      <div *ngIf="slctedSinhVien.id > 0" class="w-100 pb-4 div-content-scroll pt-2 px-4" >
        <div *ngFor="let baiTap of slctedSinhVien.baiTaps" class="pe-2 pb-4 mb-4 border-bottom">
          <div class="d-flex align-items-center">
            <h4>Câu {{baiTap.stt}} ({{baiTap.diem}} điểm)</h4>
            <div class="spacer"></div>
            <button class="btn btn-light no-transform" (click)="choDiemToiDa(baiTap)">cho điểm tối đa<span class="ti ti-arrow-bar-to-right ms-2 text-success"></span></button>
            <div class="input-group align-items-center">
              <input type="number" (change)="sumDiem()" class="form-control wp-50 pe-0 py-0" name="{{baiTap.id + 'diem'}}" [(ngModel)]="baiTap.diemCham" />
              <span class="input-group-text  py-0" id="basic-addon1">điểm</span>
            </div>
          </div>
          <div style="white-space: pre-line;">
            {{baiTap.noiDung}}
          </div>

          <div class="d-flex">
            <h5 class="mt-2">Trả lời</h5>
            <div class="spacer"></div>
            <button class="btn btn-light" (click)="copyCode(baiTap)">
              <span *ngIf="!baiTap.coppied">
                <span class="ti ti-copy text-info me-2"></span>Copy
              </span>
              <span *ngIf="baiTap.coppied">
                <span class="ti ti-copy text-success me-2"></span>Đã Copy
              </span>
            </button>
          </div>
          <div style="height: 250px">
            <!--Editorr-->
            <ngx-monaco-editor [(ngModel)]="baiTap.traLoi" [options]="editorOptions" style="height: 100%"></ngx-monaco-editor>
          </div>

          <!--<h5>Kết quả</h5>
      <div style=""></div>-->
        </div>

        <div *ngIf="!slctedSinhVien">
          Đang tải...
        </div>
      </div>
    </div>
    
    <div class="div-exec-code">
      <div style="position:absolute; top: 0; left: 0; right: 0; height: 55px; z-index: 10; background-color: white">
        <h5 class="text-center mt-2">Kiểm tra code của sinh viên ở đây</h5>
      </div>
      <div style="position:absolute; top: 0; left: 0; height: 95px; width: 60px; z-index: 1; background-color: white"></div>
      <div style="position:absolute; top: 0; right: 0; height: 95px; width: 60px; z-index: 1; background-color: white"></div>
      <iframe id="frame-code" src="https://www.programiz.com/c-programming/online-compiler/" style="width: 100%; height: 100%">
      </iframe>
    </div>
  </div>
</div>
