<h1 id="tableLabel">Lớp học</h1>

<div class="d-flex">
  <p>Danh sách tất cả lớp học.</p>
  <div class="spacer"></div>
  <button class="btn btn-light" (click)="toAddPage()"><span class="ti ti-plus me-2 text-success"></span>Thêm lớp học</button>
</div>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="forecasts">
  <thead>
    <tr>
      <th>Id</th>
      <th>Tên lớp học</th>
      <th>Số sinh viên</th>
      <th class="autosize-column"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.id }}</td>
      <td>{{ forecast.tenLopHoc }}</td>
      <td>{{ forecast.sinhViens.length }}</td>
      <th class="autosize-column p-0">
        <button class="btn btn-light" title="Xóa" (click)="xoaLopHoc(forecast)"><span class="ti ti-minus text-danger"></span></button>
      </th>
    </tr>
  </tbody>
</table>
