<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Nộp bài môn</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" >
            <a class="nav-link text-dark">{{maSinhVien}}</a>
          </li>
          <li class="nav-item hand" (click)="nopBaiClick()">
            <a class="nav-link text-dark">
              <span class="me-2">Nộp bài</span>
              <span class="ti ti-arrow-forward text-primary"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
